macro_č: macro_č{
compatible = "zmk,behavior-macro";
label = "macro_č";
#binding-cells = <0>;
bindings = <&kp LALT>, <&kp V>, <&kp C>;
};
macro_ž: macro_ž{
compatible = "zmk,behavior-macro";
label = "macro_ž";
#binding-cells = <0>;
bindings = <&kp LALT>, <&kp V>, <&kp Z>;
};
macro_š: macro_š{
compatible = "zmk,behavior-macro";
label = "macro_š";
#binding-cells = <0>;
bindings = <&kp LALT>, <&kp V>, <&kp S>;
};